footer {
  color: rgba(255, 255, 255, 0.5);
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  margin-top: auto;
  color: rgba(255, 255, 255, 0.5);
}

footer div {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer b i {
  font-family: sans-serif;
  font-size: 13px;
  font-style: italic;
  font-weight: 900;
}

.fa-github {
  color: #ddd;
  font-size: 1.35rem;
}

.fa-github:hover {
  animation: github-animation-in 0.5s ease infinite alternate;
}

.fa-github:not(:hover) {
  animation: github-animation-out 0.5s ease-out;
}

@keyframes github-animation-in {
  from {
    transform: translateY(0rem) scale(1.2);
  }
  to {
    transform: translateY(-0.3rem) scale(1.2);
  }
}

@keyframes github-animation-out {
  from {
    transform: translateY(0rem) scale(1.2);
  }
  to {
    transform: translateY(0rem) scale(1);
  }
}
